/* Override Ant Design styles */
.ant-layout-header {
  background: white !important;
  padding: 0 2rem;
}

.ant-menu {
  background: white !important;
}

.ant-menu-item {
  background: white !important;
}
